<h1>Bored of the Rings: The Three Towers</h1>

<div id="container">
  <div id="first-tower-container" class="tower-container">
    <div id="first-tower" class="tower">
      <span id="small-ring" class="ring"></span>
      <span id="medium-ring" class="ring"></span>
      <span id="large-ring" class="ring"></span>
    </div>
  </div>
  <div id="second-tower-container" class="tower-container">
    <div id="second-tower" class="tower"></div>
  </div>
  <div id="third-tower-container" class="tower-container">
    <div id="third-tower" class="tower"></div>
  </div>
</div>